<div class="field" class="form-group">
  <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['tech_criteria_1_bogota_ironhack']}: " %>
  <%= f.select :tech_criteria_1, [0, 1], class: 'form-control' %>
</div>
<div class="field" class="form-group">
  <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['tech_criteria_2_bogota_ironhack']}: " %>
  <%= f.select :tech_criteria_2, [0, 1] %>
</div>
<div class="field" class="form-group">
  <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['tech_criteria_3_bogota_ironhack']}: " %>
  <%= f.select :tech_criteria_3, [0, 1] %>
</div>
<div class="field" class="form-group">
  <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['tech_criteria_4_bogota_ironhack']}: " %>
  <%= f.select :tech_criteria_4, [0, 1] %>
</div>
<div class="field" class="form-group">
  <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['tech_criteria_5_bogota_ironhack']}: " %>
  <%= f.select :tech_criteria_5, [0, 1] %>
</div>
<div class="field" class="form-group">
  <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['tech_criteria_6_bogota_ironhack']}: " %>
  <%= f.select :tech_criteria_6, [0, 1] %>
</div>
<div class="field">
  <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['tech_criteria_7_bogota_ironhack']}: " %>
  <%= f.select :tech_criteria_7, [0, 1] %>
</div>
<div class="field" class="form-group">
  <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['tech_criteria_8_bogota_ironhack']}: " %>
  <%= f.select :tech_criteria_8, [0, 1] %>
</div>
</div>
<br>
