<h3>User Scenario / Problem Statement:</h3>
<p>
  Imagine you’re moving to Chicago as a new student at University of Illinois, Chicago and have no knowledge
  about the communities and neighborhoods in the town. But you know you want to live in an area that is safe,
  affordable and close to the university.
</p>

<h3> User Requirements </h3>
<p><b>Are user requirements specified in the hacking task filled? Was the app developed for new students moving to Chicago?</b></p>
<div class="field" class="form-group">
  <%= f.label "", "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_1_bogota_ironhack']}: " %>
  <%= f.select :non_tech_criteria_1, [0, 1] %>
</div>
<div class="field" class="form-group">
  <%= f.label "", "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_2_bogota_ironhack']}: " %>
  <%= f.select :non_tech_criteria_2, [0, 1] %>
</div>
<div class="field" class="form-group">
  <%= f.label "", "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_3_bogota_ironhack']}: " %>
  <%= f.select :non_tech_criteria_3, [0, 1] %>
</div>
<div class="field">
  <%= f.label "", "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_4_bogota_ironhack']}: " %>
  <%= f.select :non_tech_criteria_4, [0, 1] %>
</div>
<div class="field" class="form-group">
  <%= f.label "", "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_5_bogota_ironhack']}: " %>
  <%= f.select :non_tech_criteria_5, [0, 1] %>
</div>

<h3> Usability </h3>
<p><b>System affordance: Does the application offer recognizable elements and interactions that can be understood by the user?
  Cognitive workload: Is the number of alternatives from which the user can choose appropriate? Functionality:
  Would a potential user have to memorize a lot of information and execute many steps to carry out their task?</b></p>
<div class="field" class="form-group">
  <%= f.label "", "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_6_bogota_ironhack']}: " %>
  <%= f.select :non_tech_criteria_6, [nil, 0, 1, 2, 3] %>
</div>
<div class="field" class="form-group">
  <%= f.label "", "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_7_bogota_ironhack']}: " %>
  <%= f.select :non_tech_criteria_7, [nil, 0, 1, 2, 3] %>
</div>
<div class="field" class="form-group">
  <%= f.label "", "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_8_bogota_ironhack']}: " %>
  <%= f.select :non_tech_criteria_8, [nil, 0, 1, 2, 3] %>
</div>
<div class="field" class="form-group">
  <%= f.label "", "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_9_bogota_ironhack']}: " %>
  <%= f.select :non_tech_criteria_9, [nil, 0, 1, 2, 3] %>
</div>
<div class="field" class="form-group">
  <%= f.label "", "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_10_bogota_ironhack']}: " %>
  <%= f.select :non_tech_criteria_10, [nil, 0, 1, 2, 3] %>
</div>
<div class="field" class="form-group">
  <%= f.label "", "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_11_bogota_ironhack']}: " %>
  <%= f.select :non_tech_criteria_11, [nil, 0, 1, 2, 3] %>
</div>
