<h3> User Experience </h3>
<p><b>The primary measure for this performance dimension relates to the fullfillment of user requirements specified in the hacking task e.g. was the app developed for citizens living in Lafayette</b></p>
<div class="field" class="form-group">
  <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_1']}: " %>
  <%= f.select :non_tech_criteria_1, [0, 1] %>
</div>
<div class="field" class="form-group">
  <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_2']}: " %>
  <%= f.select :non_tech_criteria_2, [0, 1] %>
</div>
<div class="field" class="form-group">
  <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_3']}: " %>
  <%= f.select :non_tech_criteria_3, [0, 1] %>
</div>
<div class="field">
  <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_4']}: " %>
  <%= f.select :non_tech_criteria_4, [0, 1] %>
</div>
<div class="field" class="form-group">
  <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_5']}: " %>
  <%= f.select :non_tech_criteria_5, [0, 1] %>
</div>
<h3> Info Visualization </h3>
<p><b>In the dimension of Information Visualization we focus on three core aspects: System affordance: Does the application offer recognizable elements and interactions that can be understood by the user? Cognitive workload: Is the number of alternatives from which the user can choose appropriate? Functionality: Would a potential user have to memorize a lot of information to carry the task?</b></p>
<div class="field" class="form-group">
  <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_6']}: " %>
  <%= f.select :non_tech_criteria_6, [nil, 0, 1, 2, 3] %>
</div>
<div class="field" class="form-group">
  <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_7']}: " %>
  <%= f.select :non_tech_criteria_7, [nil, 0, 1, 2, 3] %>
</div>
<div class="field" class="form-group">
  <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_8']}: " %>
  <%= f.select :non_tech_criteria_8, [nil, 0, 1, 2, 3] %>
</div>
<div class="field" class="form-group">
  <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_9']}: " %>
  <%= f.select :non_tech_criteria_9, [nil, 0, 1, 2, 3] %>
</div>
<div class="field" class="form-group">
  <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_10']}: " %>
  <%= f.select :non_tech_criteria_10, [nil, 0, 1, 2, 3] %>
</div>
<div class="field" class="form-group">
  <%= f.label "#{Grade::CRITERIA_CODE_TO_DESC_MAP['non_tech_criteria_11']}: " %>
  <%= f.select :non_tech_criteria_11, [nil, 0, 1, 2, 3] %>
</div>
